[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
jupyter-nbextensions-configurator = "*"
widgetsnbextension = "*"
tqdm = "*"
sklearn = "*"
tensorflow-gpu = "*"
keras = "*"
dateutils = "*"
pillow = "*"
xgboost = "*"
lightgbm = "*"
hyperopt = "*"
xlrd = "*"
openpyxl = "*"
pandas-profiling = "*"
fancyimpute = "*"
imblearn = "*"
tables = "*"
pumpernickel = "*"

[dev-packages]

[requires]
python_version = "3.6"
